@import "tailwindcss";
@import "./styles/theme.css";
 
body {
  background: var(--color-app);
}
 
.scroll-kanban::-webkit-scrollbar { height: 8px; }
.scroll-kanban::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, .08); border-radius: 9999px; }
.scroll-kanban::-webkit-scrollbar-track { background: transparent; }